@model IEnumerable<BasketApp.Domain.Entities.Team>

@section Styles {
    <link rel="stylesheet" href="~/css/current-teams-styles.css" />
    <link rel="icon" type="image/png" href="~/images/team2-80.png">
}


<div class="card mt-3">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h2>Aktualne Drużyny</h2> <img src="~/images/team2-80.png" alt="Drużna koszykarska" style="width: 80px; height: 80px;">
    </div>
    <br />

<h4> Kliknij na nazwę drużyny, aby zobaczyć aktualny roster!</h4>
<br />

<table class="team-table">
    <thead>
        <tr >
            <th>Nazwa</th>
            <th>Miasto</th>
            <th>Konferencja</th>
            <th>Stan</th>
            <th>Dywizja</th>
        </tr>
    </thead>
    <br>
    <tbody>
    @foreach (var team in Model)
    {
        <tr>
            <td><a href="@Url.Action("Roster", "Teams", new { id = team.Id })" class="team-name-link">@team.TeamName</a></td>
            <td>@team.City?.Name</td>
            <td>@team.Conference?.Name</td>
            <td>@team.State?.Name</td>
            <td>@team.Division?.Name</td>
        </tr>
    }
    </tbody>
</table>
</div>