@model IEnumerable<BasketApp.Domain.Entities.Team>

@section Styles {
    <link rel="stylesheet" href="~/css/current-teams-styles.css" />
}
<div class="card mt-3">
<h2>Aktualne Drużyny</h2>

<h4> Kliknij na nazwę drużyny, aby zobaczyć aktualny roster!</h4>

<table class="table current-teams-table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Miasto</th>
            <th>Konferencja</th>
            <th>Stan</th>
            <th>Dywizja</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var team in Model)
    {
        <tr>
            <td><a href="@Url.Action("Roster", "Teams", new { id = team.Id })" class="team-name-link">@team.TeamName</a></td>
            <td>@team.City?.Name</td>
            <td>@team.Conference?.Name</td>
            <td>@team.State?.Name</td>
            <td>@team.Division?.Name</td>
        </tr>
    }
    </tbody>
</table>
</div>